<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
 <div><p>Last Sign in @: <%= current_user.last_sign_in_at %></p></div>
  <%= button_to "Sign out", destroy_user_session_path, method: :get %> 
<% else %>
  <%= link_to "Sign in", new_user_session_path %> 
<% end %>   
<%= link_to "All Workers","/workers"%>
<h1>Admin Page</h1>

