<div class="container-sm d-flex justify-content-center">
<div class="shadow-lg p-3 mb-5 bg-body rounded h-100 d-inline-block " >
  <h2><img src="https://icon2.cleanpng.com/20181110/spz/kisspng-computer-icons-login-scalable-vector-graphics-emai-5be73768cb2288.8298339815418796568321.jpg" height="30px" style="border-radius: 80%;background-color: aqua;"><span style="font-family: 'Kalam';font-size: 22px;">Log in</span></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,required: true%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,required: true%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me ,required: true%>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>