<% if user_signed_in? %> 
 <div style="color: blue;"> Welcome : <span style="color: rgb(33, 111, 33);"><%= current_user.email.capitalize %> </span></div> 
 <div><p>Last Sign in @: <b><%= current_user.last_sign_in_at.strftime "%d/%m/%Y %H:%M" %></b></p></div>  
<% end %>
<% if user_signed_in? %>
<%= link_to "New Worker", new_worker_path%>
<% end %>
<h1>Workers Details</h1>

<table class="table table-light table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Worker Name</th>
      <th scope="col">Date</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Shift</th>
    <% if user_signed_in?  %>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th> 
    <%end%>
    </tr>
  </thead>
  <tbody>
    
<% @workers.order(:date).each do |worker|%>
<%if user_signed_in?%>
  <% if current_user.id == worker.user_id%>
    <tr>
    <th scope="row"><%= worker.id%></th>
    <td><%= worker.name.capitalize%></td>
    <td><%= worker.date%></td>
    <td><%= worker.age%></td>
    <td><%= worker.gender%></td>
    <td><%= worker.shift%></td>
    <% if user_signed_in? %>
    <td><%= link_to "Edit",edit_worker_path(user_id: worker.user_id, id: worker.id) %></td>
    <td><%= link_to "Delete" ,worker_path(id: worker.id),data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
            }%></td>
    <%end%>
    </tr>
  <%end%>
<%else%>
    <tr>
      <th scope="row"><%= worker.id%></th>
      <td><%= worker.name.capitalize%></td>
      <td><%= worker.date%></td>
      <td><%= worker.age%></td>
      <td><%= worker.gender%></td>
      <td><%= worker.shift%></td>
      <% if user_signed_in? %>
      <td><%= link_to "Edit",edit_worker_path(user_id: worker.user_id, id: worker.id) %></td>
      <td><%= link_to "Delete" ,worker_path(id: worker.id),data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
              }%></td>
      <%end%>
    </tr>
<%end%>
<%end%>
</tbody>
</table>